VITE_API_BASE_URL=https://attendmate-backend-1.onrender.com/api
VITE_CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
VITE_CLOUDINARY_UNSIGNED_PRESET=your_unsigned_preset
VITE_GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
